*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Playfair Display', sans-serif ;
}
h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 32px 0 10px 0;
}

.intro{
    display: flex;
    justify-content: center;
}

.icon-dots{
    margin-right: 15px;
    align-self: flex-start;
    margin-top: 5px;
}

.intro-text{
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    margin-right: 20px;
    line-height: 17px;
}

.header-image{
    max-width: 100%;
    margin-top: 30px;
    border-radius: 12px;
}